

  .navbar {
    background-color: rgb(46, 177, 194);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    box-shadow:5px 5px 5px  rgb(160, 158, 158);
  }
  
   div {
    float: left;
    display: block;
    color:white;
    font-size: 4px 8px;
    padding: 1vw 1vw 1vw 1vw;
    opacity: 1;  
  }

 
  
  
  