
/* body {
    height: 2000px;
  }
   */
  .navbar {
    background-color: rgb(78, 127, 218);
    position: fixed;
    /* height: 10%; */
    top: 0;
    left:0;
    width: 100%;
    box-shadow:5px 5px 5px  rgb(160, 158, 158);
  }
  
   p {
    float: left;
    display: block;
    color:white;
    font-size: 4vw 4vh;
    padding: 1vw 1vw 1vw 1vw;
    opacity: 1;
    
  }
 
  
  
  