<form class="container" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="bg-primary ">

    <div class="mt-5 pb-3 pl-sm-5, mx-auto" style="width: 40%;">
        <h2>LAYOUT </h2>
        <div class="formGroup">
            <label>Title</label><br>
            <input type="text" class="col-sm-6" formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && val.title.errors }" />
            <div *ngIf="submitted && val.title.errors" class="error">
                <div *ngIf="val.title.errors.required" style="color: red">Title is required*</div>
            </div>
        </div>

        <div class="formGroup">
            <label>Description</label><br>
            <textarea class="col-sm-6" formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && val.description.errors }"></textarea><br>
            <div *ngIf="submitted && val.description.errors" class="error">
                <div *ngIf="val.description.errors.required" style="color: red">Description is required*</div>
            </div>
        </div>

        <div>
            <label>Image</label><br>
            <input type="file" formControlName="logo" (change)="uploadimage($event)">
            <br><br>
        </div>
        <button type="button" (click)="addAddress()">Add Address</button>
        <div  *ngFor="let tag of tags; let i = index">
            <input type="text" >
        <i class="material-icons align-middle text-danger " (click)=" removeAddress(i)">remove_circle</i>
             
        </div>
        <div class="formGroup">
            <div *ngIf="mode === 'add'" >
                <input type="submit"  class="btn btn-success mr-5" value="Register"><br>
             <input type="reset" class="btn btn-danger mr-5" value="Cancel" routerLink="/boxes">
            </div>
        </div> 
        
            <div class="formGroup">
            <div *ngIf="mode === 'edit'" >
            <input type="button" class="btn btn-success mr-5" (click)="onUpdate(id)" value="Update"><br>
            <input type="reset" class="btn btn-danger mr-5" value="Delete" (click)="deleteUser(id)" routerLink="/boxes">
            </div>
           
        </div>
    </div>
</form>