<form class="container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="mt-5 pb-3 pl-sm-5 , card bg-primary text-white, mx-auto" style="width: 40%;">
        <h2>LAYOUT </h2>
        <div class="formGroup">
            <label>Title</label><br>
            <input type="text" class="col-sm-6" formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && val.title.errors }" />
            <div *ngIf="submitted && val.title.errors" class="error">
                <div *ngIf="val.title.errors.required" style="color: red">Title is required*</div>
            </div>
        </div>

        <div class="formGroup">
            <label>Description</label><br>
            <textarea class="col-sm-6" formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && val.description.errors }"></textarea><br>
            <div *ngIf="submitted && val.description.errors" class="error">
                <div *ngIf="val.description.errors.required" style="color: red">Description is required*</div>
            </div>
        </div>

        <div>
            <label>Image</label><br>
            <input type="file" formControlName="image" (change)="uploadimage($event)"><br><br>
        </div>

        <button class="btn btn-success mr-5">Register</button><br>
        <input type="reset" class="btn btn-danger mr-5" value="Cancel" routerLink="/boxes">

    </div>

</form>