
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    
  }
  #divId { 
   /* flex : 1 0 calc(20.333333% - (10px+20px));   */
  background-color: #f1f1f1;
  width: 350px;
  height: 450px;
  margin: 5px 5px 5px 5px; 
  padding: 10px ;
  font-size: 20px;
  box-shadow:3px 3px 3px 3px  rgb(160, 158, 158);
  }
  #imgId{
       height: 40%;
       width: 100%;
  }
  .btn{
      float: right;
      height: 10%;
      width: 35%;
      border-radius: 4px;
      box-shadow:2px 2px 2px 2px  rgb(160, 158, 158);
      background-color:#3399ff;
      cursor: pointer;
  }
  .btn:hover{
    background-color:  #99ccff;
  }
  #matId{
      position: fixed;
      bottom: 50px;
      right: 60px;  
      font-size: 50px;
       cursor: pointer; 
  }
  #btn1{
   cursor: pointer; 
    position: fixed;
    top: 10px;
    right: 60px;  
    font-size: 50px;   
}
@media screen and (max-width: 500px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .container div{
        width: 80%;
        height:30%;
    }
    .container div img{
      height: 40%;
      width: 100%;
    }
}