<body>
    <div class="container">
        <div>
            <img src="assets/images/js.jpg" alt="JAVASCRIPT">
            <p>
                JavaScript is the programming
                language of HTML and the Web.
                It is high-level language for computers.
            </p>
            <button class="btn"> Learn More</button>
        </div>

        <div>
            <img src="assets/images/nodejslogo.jpg" alt="NODEJS">
            <p>Node.js is an open source
                server environment.
                It allows userto run JavaScript on the server.
            </p>
            <button class="btn"> Learn More</button>
        </div>

        <div>
            <img src="assets/images/reactjslogo.png" alt="REACTJS">
            <p>
                React is a JavaScript library for
                building user interfaces.
                It is used to build single page applications.
            </p>
            <button class="btn">Learn More</button>
        </div>

    </div>
    <mat-icon id="matId" color="primary"> add_circle</mat-icon>
</body>